@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<h3>@ViewData["Title"]</h3>
<hr />

<table class="table table-sm table-bordered table-hover table-responsive">
    <thead class="table-secondary">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total price with VAT</th>
            <th style="width: 30px">
                <a class="btn btn-success w-100" 
                   asp-controller="Products"
                   asp-action="ProductCreate">
                    <i class="fas fa-plus"></i>
                    Create
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.PriceWithVat)
                </td>
                <td class="align-middle">
                    <div class="btn-group">
                        <a class="btn btn-warning w-100"
                           asp-controller="Products"
                           asp-action="ProductEdit"
                           asp-route-id="@item.Id">
                            <i class="far fa-edit"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger w-100"
                           asp-controller="Products"
                           asp-action="ProductDelete"
                           asp-route-id="@item.Id">
                            <i class="far fa-trash"></i>
                            Delete
                        </a>
                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>